body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  border: 2px solid;
  border-radius: 20px;
  background-color: coral;
  color: black;
}
.container h1 {
  text-align: center;
}
.container p {
  text-align: center;
}
.container button {
  margin-left: 70px;
  padding: 3px;
  border-radius: 10px;
}
.container button:hover {
  background-color: yellowgreen;
}
